.headerMobile {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logoContainer {
  width: 70px;
  margin-top: 10px;
}

.logo {
  width: 100%;
}
.searchContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
  width: 100%;
}

.searchBox input {
  width: 100%;
  padding: 8px 10px;
  font-size: 12px;
  border: 1px solid var(--green-color);
  border-radius: 25px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--green-color);
  pointer-events: none;
}

.hamburgerContainer {
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
}

.hamburgerButton:hover {
  transform: scale(1.1);
}

/* --------------------------- Menu Overlay Styles --------------------------- */
.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1050;
  display: flex;
  justify-content: flex-end;
}

.menuPanel {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-out;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
  color: var(--primary-color);
}

.closeButton:hover {
  transform: scale(1.1);
}

/* --------------------------- Simple Menu List Styles --------------------------- */
.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menuItem {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  border-radius: 0px;
  background-color: #fff;
  color: var(--text-color);
  box-shadow: none;
  font-size: 18px;
}

.menuItem:last-child {
  border-bottom: none;
}

.menuItem a {
  text-decoration: none;
  color: inherit;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
