/* کانتینر کلی صفحه */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* بخش اصلی شامل سایدبار و محتوا */
.main {
  width: 100%;
  display: flex;
  flex: 1;
  
}

/* سایدبار */
.sidebar {
  width: 25%; /* تنظیم عرض سایدبار */
}

/* محتوا */
.content {
  flex: 1;
  width: 75%;
  /* padding: 20px; */
  margin-top: 0%;
  
}

/* **ریسپانسیو** */
@media (max-width: 768px) {
  .main {
    padding-top: 0%;
    flex-direction: row-reverse; /* سایدبار در سمت راست */
  }

  .sidebar {
    width: 30%; /* تنظیم عرض مناسب‌تر در موبایل */
  }

  .content {
    margin-top: 0%;
    padding-top: 0%;
    width: 70%; /* محتوا در سمت چپ */
  }
}
@media (max-width: 480px) {
.main{
  flex-direction: column;
}
.sidebar{
  width: 100%;
}
.content{
  width: 100%;
}
}