.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px; /* Adjust the width as needed */
  margin: 0px;
 padding: 0px;
}

.imageContainer {
  width: 80px; /* Adjust the size of the circle */
  height: 80px; /* Adjust the size of the circle */
  border-radius: 50%; /* Makes the container circular */
  border: 3px solid var(--secondary-color); /* Light gray border */
  padding: 3px; /* Space between the image and the border */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures the image stays within the circle */
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire circle */

}

.title {
  margin-top: 8px;
  font-size: 16px;
  color: var(--text-color); /* Instagram-like text color */
  /* font-weight:200; */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis if the text is too long */
  max-width: 100%; /* Ensures the title doesn't overflow the card */
}

.date {
  font-size: 12px;
  color: #8e8e8e; /* Light gray color for the date */
  margin-top: 4px;
}

.cardLink {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}


@media (max-width: 480px) {
  .card{
    width: 80px;
  }
  .title{
    font-size: 16px;
  }
}