.container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-right: 10rem;
  background-color: var(--secondary-color);
  flex-wrap: wrap;
  direction: rtl;
}
.title {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 20px;
  /* font-weight: 300; */
  border-radius: 10px;
  width: max-content;
  padding: 2px 10px;
  margin-bottom: 8px;
}
p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
}
.icon {
  color: var(--text-color);
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2);
  transition: 0.8s ease;
}
.adresses,
.contactUs,
.acricles,
.socials {
  width: 50%;
  height:100px;
  text-align: right;
}

.acricles p {
  cursor: pointer;
}
/* .contactUs,
.socials {
  height: 150px;
} */

.enamadWrapper {
  margin-top: 24px;
  /* center or float as you like */
  text-align: center;
}

/* make sure the container holds the 100×100 badge */
.enamad-seal {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.enamad-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

/* responsiv */

/* ریسپانسیو برای تبلت */
@media (max-width: 991px) {
  .container {
    padding-right: 4rem;
  }

  .adresses,
  .contactUs,
  .acricles,
  .socials {
    width: 100%; /* هر بخش در یک ردیف نمایش داده شود */
    height: auto;
    margin-bottom: 20px;
  }

  .icon {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

/* ریسپانسیو برای موبایل */
@media (max-width: 576px) {
  .container {
    padding-right: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
  }

  .title {
    font-size: 16px;
    padding: 4px 8px;
  }

  .icon {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}
