:root {
  --primary-color: #b98972;    
  --secondary-color:#e7d5c9;  
  --text-color: #5a4a42;
  --bg-color: #f8f1e9;
  --green-color: #499c7f;
  --light-color: #f8f1e9;
}
/* :root {
  --primary-color: #83c5be;    
  --secondary-color:#e29578;  
  --text-color: #5a4a42;
  --bg-color: #f8f1e9;
  --green-color: #006d77;
  --light-color: #ffddd2;
} */
body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


@font-face {
  font-family: 'Mj_Faraz';
  src: local('Mj_Faraz'), url(./fonts/Mj_Faraz.woff2) format('truetype');
  /* Change font    */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mj_Faraz", sans-serif;
  -webkit-font-feature-settings: "numr";
    font-feature-settings: "numr";
    font-variant-numeric: arabic-indic; /* استاندارد جدیدتر */
  font-weight: 600;
}